@font-face {
    font-family: 'Apercu';
    src: url('src/assets/Apercu-Light.eot');
    src: url('src/assets/Apercu-Light.eot?#iefix') format('embedded-opentype'),
        url('src/assets/Apercu-Light.woff2') format('woff2'),
        url('src/assets/Apercu-Light.woff') format('woff'),
        url('src/assets/Apercu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('src/assets/Apercu-Bold.eot');
    src: url('src/assets/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
        url('src/assets/Apercu-Bold.woff2') format('woff2'),
        url('src/assets/Apercu-Bold.woff') format('woff'),
        url('src/assets/Apercu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('src/assets/Apercu-Regular.eot');
    src: url('src/assets/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
        url('src/assets/Apercu-Regular.woff2') format('woff2'),
        url('src/assets/Apercu-Regular.woff') format('woff'),
        url('src/assets/Apercu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 
@font-face {
    font-family: apercu;
    src: url('src\assets\Apercu-Bold.ttf') ,
         url('src\assets\Apercu-Light.ttf'),
         url('src\assets\Apercu-Regular.ttf');
         font-weight: 100;
         font-size: medium;
} */


 * {
    font-family: 'Apercu';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.header {
    margin: 0;
    padding: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
}

.articleDiv {
    cursor: pointer;
}

.wrapper {
    margin: 70px;
}